@import '@featuring-corp/design-tokens/style/reset.css';
@import '@featuring-corp/design-tokens/style/normalize.css';
@import '@featuring-corp/design-tokens/style/featuring.css';

:root {
  font-family: var(--global-typography-font-sans);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden; /* 가로 스크롤 방지 */
}
